.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.main {
    color: white;
    max-width: 960px;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.divider {
    border: none;
    border-top: 1px solid #ccc; /* Определяем тонкую линию */
    width: 80%;
    margin: 25px auto;
  }
  

.intro {
    text-align: center;
    font-size: 25px;
    height: calc(100vh - 350px);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.fade {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.fade-out {
    opacity: 0.5;
}

/* для центрирования кружка */
.circle-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 0 10px 0;
}

/* стиль для кружка */
.circle-number {
    display: inline-flex; /* Центрирование содержимого */
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px;
    border: 2px solid white; 
    border-radius: 50%; 
    font-size: 15px; 
    font-weight: bold; 
    color: white; 
    background-color: transparent; /* Прозрачный фон */
}

.main-title {
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;
}

.main-text {
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
}

.main-link {
    color: white;
text-decoration: none;
    text-decoration-thickness:1px;
    font-weight:700;
}

.container {
    display: flex;
    flex-wrap: wrap; /* перенос блоки */
    justify-content: space-between;
    width: 100%;
    margin: 20px auto;
}

.block {
    background-color: rgba(136, 248, 164, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    margin: 20px;
    padding: 25px 30px 45px 30px; 
    flex: 1 1 calc(32% - 10px); /* Ширина блока ближе к 100% */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.block-title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;

    min-height: 60px; /* Задаём минимальную высоту заголовка */
    display: flex;
    align-items: center; /* Центрирование текста внутри заголовка */
    justify-content: center;
}

.block-text {
    text-align: justify;
    font-size: 20px;
}

.mini-block {
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin: 20px; /* Уменьшенный отступ между блоками */
    padding: 20px 25px; /* Внутренние отступы */
    flex: 1 1 calc(22% - 10px); /* Ширина блока ближе к 100% */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mini-block-title {
    margin-bottom: 10px;
    font-size: 25px;

    min-height: 60px; /* Задаём минимальную высоту заголовка */
    display: flex;
    align-items: center; /* Центрирование текста внутри заголовка */
    justify-content: start;
}

.mini-block-text {
    text-align: justify;
    font-size: 20px;
    margin-bottom: 5px;
}

.mini-block-list {
    font-size: 20px;
    margin-bottom: 5px;
}

.main-text a:hover {
    text-decoration: underline;
    text-decoration-style: 1px; 
}

.arrow {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}


@media (max-width: 1010px) {
    .intro {
        font-size: 23px;
    }

    .main-title {
        font-size: 30px;
    }
    
    .main-text {
        font-size: 20px;
    }

    .block {
        padding: 25px 20px;
    }

    .block-title {
        font-size: 20px;
    }
    
    .block-text {
        font-size: 17px;
    }

    .circle-number {
        font-size: 10px;
        height: 30px;
        width: 30px;
    }

    .mini-block-title {
        font-size: 20px;
    }
    
    .mini-block-list {
        font-size: 17px;
    }
}



@media (max-width: 768px) {
    .block {
        flex: 1 1 calc(48% - 10px); /* Немного увеличена ширина на экранах до 768px */
    }
}



@media (max-width: 480px) {
    .block {
        flex: 1 1 calc(98% - 10px); /* Максимально широкая область на узких экранах */
    }

    .intro {
        font-size: 17px;
    }

    .main-title {
        font-size: 20px;
    }
    
    .main-text {
        font-size: 17px;
    }

    .block {
        padding: 20px;
    }

    .block-title {
        font-size: 18px;
        min-height: 25px;
    }
    
    .block-text {
        font-size: 14px;
    }

    .circle-number {
        font-size: 10px;
        height: 20px;
        width: 20px;
    }

    .mini-block-title {
        font-size: 16px;
    }
    
    .mini-block-list {
        font-size: 12px;
        padding-left: 20px;
    }

    .sector-link-end {
        font-size: 15px;
    }

    .arrow {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 20px;
    }
}



@media (max-width: 400px) {
    .intro {
        font-size: 15px;
        height: calc(100vh - 450px);
    }

    .main-title {
        font-size: 18px;
        margin-top: 100px;
    }
    
    .main-text {
        font-size: 15px;
    }

    .block {
        padding: 18px;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .block-title {
        font-size: 16px;
        min-height: 25px;
    }
    
    .block-text {
        font-size: 12px;
    }
}